<span style="position: relative;">
    <ebay-tooltip>
        <p>Use Access Key 'S' to display settings.</p>
    </ebay-tooltip>
</span>

<span style="position: relative; margin-left: 8px;">
    <ebay-tooltip location="top-left">
        <p>Use Access Key 'S' to display settings.</p>
    </ebay-tooltip>
</span>
